In [1]:
import os
import pandas as pd
import openml
from openml.tasks import TaskType
openml.config.apikey = 'YOUR_KEY'
openml.config.server = 'https://www.openml.org/api/v1' # https://test.openml.org/api/v1/xml
openml.config.set_cache_directory(os.path.expanduser('~/openml/cache'))
openml.config.cachedir = '~/openml/cache'

# create tasks
https://openml.github.io/openml-python/develop/examples/30_extended/tasks_tutorial.html#creating-tasks

task_type: The task type ID, required (see below). Required.

dataset_id: The dataset ID. Required.

target_name: The name of the attribute you aim to predict. Optional.

estimation_procedure_id : The ID of the estimation procedure used to create train-test splits. Optional.

evaluation_measure: The name of the evaluation measure. Optional.

Any additional inputs for specific tasks

In [9]:
# list containing numbers from 45056 to 45080
did_list = list(range(45056, 45081))
# exclude 45072 (airline dataset)
did_list.remove(45072)

dlist = openml.datasets.list_datasets(data_id=did_list, output_format='dataframe')
print('num of dataset: ', len(dlist))
dlist

num of dataset:  24

,did,name,version,uploader,status,format,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,MajorityClassSize,MinorityClassSize
45056,45056,cmc,7,31892,active,arff,0.0,10.0,1473.0,0.0,0.0,3.0,7.0,NaN,NaN
45057,45057,jasmine,2,31892,active,arff,0.0,145.0,2984.0,0.0,0.0,9.0,136.0,NaN,NaN
45058,45058,credit-g,3,31892,active,arff,2.0,21.0,1000.0,0.0,0.0,7.0,13.0,700.0,300.0
45059,45059,sick,2,31892,active,arff,2.0,23.0,3103.0,0.0,0.0,5.0,17.0,2888.0,215.0
45060,45060,online_shoppers,1,31892,active,arff,2.0,18.0,12330.0,0.0,0.0,4.0,14.0,10422.0,1908.0
45061,45061,dresses-sales,3,31892,active,arff,0.0,13.0,500.0,0.0,0.0,2.0,11.0,NaN,NaN
45062,45062,shrutime,1,31892,active,arff,0.0,11.0,10000.0,0.0,0.0,5.0,6.0,NaN,NaN
45063,45063,credit-approval,2,31892,active,arff,2.0,16.0,653.0,0.0,0.0,6.0,9.0,357.0,296.0
45064,45064,Insurance,1,31892,active,arff,0.0,11.0,23548.0,0.0,0.0,4.0,7.0,NaN,NaN
45065,45065,bank-marketing,9,31892,active,arff,0.0,17.0,45211.0,0.0,0.0,8.0,9.0,NaN,NaN
45066,45066,fars,2,31892,active,arff,0.0,30.0,100959.0,0.0,0.0,15.0,15.0,NaN,NaN
45067,45067,okcupid_stem,1,31892,active,arff,3.0,14.0,26677.0,0.0,0.0,2.0,11.0,19209.0,2814.0
45068,45068,adult,4,31892,active,arff,2.0,15.0,48842.0,0.0,0.0,6.0,8.0,37155.0,11687.0
45069,45069,Diabetes130US,3,31892,active,arff,3.0,48.0,101766.0,100723.0,192849.0,11.0,36.0,54864.0,11357.0
45070,45070,kick,3,31892,active,arff,0.0,31.0,67212.0,0.0,0.0,15.0,16.0,NaN,NaN
45071,45071,hcdr,1,31892,active,arff,0.0,70.0,244280.0,0.0,0.0,23.0,47.0,NaN,NaN
45073,45073,eye_movements,9,31892,active,arff,0.0,24.0,7608.0,0.0,0.0,21.0,3.0,NaN,NaN
45074,45074,Shipping,1,31892,active,arff,0.0,10.0,10999.0,0.0,0.0,6.0,4.0,NaN,NaN
45075,45075,KDD,1,31892,active,arff,0.0,46.0,5032.0,0.0,0.0,35.0,11.0,NaN,NaN
45076,45076,churn,3,31892,active,arff,0.0,21.0,5000.0,0.0,0.0,17.0,4.0,NaN,NaN
45077,45077,qsar,1,31892,active,arff,2.0,41.0,1055.0,0.0,0.0,30.0,10.0,699.0,356.0
45078,45078,nomao,2,31892,active,arff,0.0,119.0,34465.0,0.0,0.0,90.0,29.0,NaN,NaN
45079,45079,road-safety,8,31892,active,arff,0.0,33.0,111762.0,0.0,0.0,30.0,3.0,NaN,NaN
45080,45080,autos,3,31892,active,arff,0.0,26.0,1000000.0,0.0,0.0,16.0,10.0,NaN,NaN

In [15]:
for did in did_list:

    try:
        my_task = openml.tasks.create_task(
            task_type=TaskType.SUPERVISED_CLASSIFICATION,
            dataset_id=did,
            target_name="class",
            estimation_procedure_id=1,
            evaluation_measure="predictive_accuracy",
        )
        my_task.publish()
        print(f"URL for task: {my_task.openml_url}")

    except openml.exceptions.OpenMLServerException as e:
        # Error code for 'task already exists'
        if e.code == 614:
            # Lookup task
            tasks = openml.tasks.list_tasks(data_id=128, output_format="dataframe")
            tasks = tasks.query(
                'task_type == "Supervised Classification" '
                'and estimation_procedure == "10-fold Crossvalidation" '
                'and evaluation_measures == "predictive_accuracy"'
            )
            task_id = tasks.loc[:, "tid"].values[0]
            print("Task already exists. Task ID is", task_id)

Task already exists. Task ID is 154
URL for task: https://www.openml.org/t/361299
URL for task: https://www.openml.org/t/361300
URL for task: https://www.openml.org/t/361301
URL for task: https://www.openml.org/t/361302
URL for task: https://www.openml.org/t/361303
URL for task: https://www.openml.org/t/361304
URL for task: https://www.openml.org/t/361305
URL for task: https://www.openml.org/t/361306
URL for task: https://www.openml.org/t/361307
URL for task: https://www.openml.org/t/361308
URL for task: https://www.openml.org/t/361309
URL for task: https://www.openml.org/t/361310
URL for task: https://www.openml.org/t/361311
URL for task: https://www.openml.org/t/361312
URL for task: https://www.openml.org/t/361313
URL for task: https://www.openml.org/t/361314
URL for task: https://www.openml.org/t/361315
URL for task: https://www.openml.org/t/361316
Task already exists. Task ID is 154
URL for task: https://www.openml.org/t/361318
URL for task: https://www.openml.org/t/361319
URL for task: https://www.openml.org/t/361320
URL for task: https://www.openml.org/t/361321

# create collections

https://docs.openml.org/benchmark/#creating-new-benchmark-suites

In [5]:
# list containing numbers from 361298 to 361321
task_ids = list(range(361298, 361322))
len(task_ids)

24

In [8]:
# get data (did=45069) Diabetes data
dataset = openml.datasets.get_dataset(45069)
X, y, categorical_indicator, attribute_names = dataset.get_data(
    dataset_format='dataframe',
    target=dataset.default_target_attribute
)

X

WARNING:root:Received uncompressed content from OpenML for https://api.openml.org/data/v1/download/22112027/Diabetes130US.arff.
WARNING:openml.datasets.functions:Could not download file from http://openml1.win.tue.nl/dataset45069/dataset_45069.pq: Bucket does not exist or is private.

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,examide,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed
0,1,3,7,4,41,2,17,0,0,0,...,No,No,Steady,No,No,No,No,No,Ch,Yes
1,5,1,1,3,64,0,10,0,0,1,...,No,No,Steady,No,No,No,No,No,Ch,Yes
2,2,1,1,2,39,0,8,0,0,0,...,No,No,Steady,No,No,No,No,No,Ch,Yes
3,3,1,1,1,39,2,12,0,0,1,...,No,No,No,No,No,No,No,No,No,No
4,3,1,1,3,21,2,23,1,0,0,...,No,No,No,No,No,No,No,No,Ch,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,1,7,2,52,0,12,0,0,0,...,No,No,No,No,No,No,No,No,No,No
101762,1,1,7,6,50,0,17,1,0,6,...,No,No,Steady,No,No,No,No,No,No,Yes
101763,3,1,1,2,42,3,12,0,0,0,...,No,No,Steady,No,No,No,No,No,No,Yes
101764,1,22,2,14,65,2,18,0,0,0,...,No,No,Down,No,No,No,No,No,Ch,Yes
101765,6,3,7,4,58,1,19,0,0,2,...,No,No,No,No,No,No,No,No,No,Yes

In [10]:
description = (

)

In [11]:
# create the benchmark suite
# the arguments are the alias, name, description, and list of task_ids, respectively.
study = openml.study.create_benchmark_suite( 
    name="STCC Classificaton Benchmark", 
    alias='STCC',
    description=description, 
    task_ids=task_ids,
)

study_id = study.publish()
print(f"URL for task: {study.openml_url}")

URL for task: https://www.openml.org/s/341